In [20]:
from sklearn.preprocessing import StandardScaler
import pandas as pd

In [21]:
df = pd.read_csv('Climate_real.csv')

In [22]:
df

,Count,MAX_T,MIN_T,AVG_P,AVG_H,MIN_H,RAIN,WIND,CLOUD,SUN,SUN_R,SNOW,MIN_T_CHO,AVG_T_G,DUST
0,2,12.5,-11.3,3.3,50,28,11.0,3.2,2.2,217.8,71.41,0.0,-8.3,-0.8,73
1,0,12.7,-6.3,4.5,63,27,45.0,2.9,3.6,166.2,55.16,8.5,-5.8,1.6,90
2,1,17.0,-2.7,6.3,72,30,110.4,3.4,5.3,179.5,48.51,10.5,-1.0,5.6,86
3,0,23.1,0.2,8.0,59,22,27.3,4.0,4.1,264.8,67.00,0.0,3.7,13.9,98
4,0,28.1,7.2,11.7,66,25,18.1,3.0,5.0,244.6,55.44,0.0,7.9,19.8,80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
325,211,12.7,-10.9,2.7,40,10,11.1,2.3,2.5,243.8,80.76,0.0,-5.6,0.5,40
326,342,21.0,-2.0,6.0,61,9,114.5,2.1,4.8,189.4,51.08,0.0,0.4,7.2,42
327,328,29.8,1.8,8.4,55,12,33.5,2.3,3.7,269.0,67.93,0.0,7.2,16.2,45
328,240,33.5,5.8,11.0,54,12,9.1,2.2,4.3,312.7,70.76,0.0,11.3,24.0,33
329,155,34.6,10.1,19.3,79,16,248.7,1.9,6.5,169.6,38.26,0.0,16.5,24.8,22

In [23]:
df.corr()

,Count,MAX_T,MIN_T,AVG_P,AVG_H,MIN_H,RAIN,WIND,CLOUD,SUN,SUN_R,SNOW,MIN_T_CHO,AVG_T_G,DUST
Count,1.000000,0.080920,0.070511,0.036315,-0.001551,-0.104576,0.030176,-0.042377,0.092271,-0.070387,-0.117301,0.034415,0.094278,0.049211,-0.085098
MAX_T,0.080920,1.000000,0.922304,0.866901,0.802653,0.565232,0.542127,-0.387158,0.464710,-0.113994,-0.595701,-0.356686,0.928709,0.953299,-0.321756
MIN_T,0.070511,0.922304,1.000000,0.956073,0.878343,0.700179,0.604214,-0.502022,0.517376,-0.246647,-0.671869,-0.357157,0.981128,0.971966,-0.418281
AVG_P,0.036315,0.866901,0.956073,1.000000,0.903244,0.803813,0.667398,-0.549359,0.500151,-0.323248,-0.691525,-0.298573,0.971105,0.938538,-0.493700
AVG_H,-0.001551,0.802653,0.878343,0.903244,1.000000,0.767933,0.658772,-0.502950,0.549935,-0.457798,-0.804265,-0.183273,0.887895,0.857724,-0.395467
MIN_H,-0.104576,0.565232,0.700179,0.803813,0.767933,1.000000,0.582658,-0.413412,0.424312,-0.415699,-0.589789,-0.132083,0.706409,0.645102,-0.384090
RAIN,0.030176,0.542127,0.604214,0.667398,0.658772,0.582658,1.000000,-0.356341,0.475274,-0.553802,-0.685065,-0.083849,0.629171,0.549767,-0.423400
WIND,-0.042377,-0.387158,-0.502022,-0.549359,-0.502950,-0.413412,-0.356341,1.000000,-0.057488,0.180376,0.306055,0.165214,-0.550580,-0.490421,0.602043
CLOUD,0.092271,0.464710,0.517376,0.500151,0.549935,0.424312,0.475274,-0.057488,1.000000,-0.472159,-0.658408,-0.031378,0.500423,0.470331,-0.066603
SUN,-0.070387,-0.113994,-0.246647,-0.323248,-0.457798,-0.415699,-0.553802,0.180376,-0.472159,1.000000,0.812900,-0.093002,-0.248469,-0.131143,0.080351
SUN_R,-0.117301,-0.595701,-0.671869,-0.691525,-0.804265,-0.589789,-0.685065,0.306055,-0.658408,0.812900,1.000000,0.068146,-0.670396,-0.611674,0.157892
SNOW,0.034415,-0.356686,-0.357157,-0.298573,-0.183273,-0.132083,-0.083849,0.165214,-0.031378,-0.093002,0.068146,1.000000,-0.363616,-0.378323,0.154200
MIN_T_CHO,0.094278,0.928709,0.981128,0.971105,0.887895,0.706409,0.629171,-0.550580,0.500423,-0.248469,-0.670396,-0.363616,1.000000,0.979171,-0.477203
AVG_T_G,0.049211,0.953299,0.971966,0.938538,0.857724,0.645102,0.549767,-0.490421,0.470331,-0.131143,-0.611674,-0.378323,0.979171,1.000000,-0.404562
DUST,-0.085098,-0.321756,-0.418281,-0.493700,-0.395467,-0.384090,-0.423400,0.602043,-0.066603,0.080351,0.157892,0.154200,-0.477203,-0.404562,1.000000

In [24]:
from statsmodels.formula.api import ols

In [25]:
model = ols('Count ~MAX_T+MIN_T+AVG_P+AVG_H+MIN_H+RAIN+WIND+CLOUD+SUN+SUN_R+SNOW+MIN_T_CHO+AVG_T_G+DUST', df)

In [26]:
res = model.fit()

In [27]:
res.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Count   R-squared:                       0.267
Model:                            OLS   Adj. R-squared:                  0.234
Method:                 Least Squares   F-statistic:                     8.178
Date:                Mon, 29 Aug 2022   Prob (F-statistic):           6.00e-15
Time:                        01:21:34   Log-Likelihood:                -2499.1
No. Observations:                 330   AIC:                             5028.
Df Residuals:                     315   BIC:                             5085.
Df Model:                          14
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   3766.8689    605.496      6.221      0.000    2575.541    4958.197
MAX_T          2.2055     12.230      0.180      0.857     -21.856      26.267
MIN_T         -1.0782     15.235     -0.071      0.944     -31.054      28.897
AVG_P        -26.6052     22.594     -1.178      0.240     -71.059      17.848
AVG_H        -22.2764      5.891     -3.782      0.000     -33.867     -10.686
MIN_H        -10.6270      4.924     -2.158      0.032     -20.315      -0.938
RAIN          -0.9457      0.352     -2.685      0.008      -1.639      -0.253
WIND          87.6370     75.724      1.157      0.248     -61.352     236.626
CLOUD         -6.5470     17.297     -0.379      0.705     -40.578      27.484
SUN            8.1007      2.399      3.376      0.001       3.380      12.822
SUN_R        -41.4482      9.263     -4.475      0.000     -59.674     -23.223
SNOW           6.6506      2.900      2.293      0.023       0.944      12.357
MIN_T_CHO    178.8947     26.986      6.629      0.000     125.799     231.990
AVG_T_G     -131.0994     23.547     -5.568      0.000    -177.428     -84.770
DUST          -3.3401      2.077     -1.608      0.109      -7.427       0.747
==============================================================================
Omnibus:                      175.066   Durbin-Watson:                   0.503
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1079.208
Skew:                           2.183   Prob(JB):                    4.50e-235
Kurtosis:                      10.709   Cond. No.                     5.66e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.66e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [28]:
df_1 = df.drop(['Count'], axis=1)
df_1

,MAX_T,MIN_T,AVG_P,AVG_H,MIN_H,RAIN,WIND,CLOUD,SUN,SUN_R,SNOW,MIN_T_CHO,AVG_T_G,DUST
0,12.5,-11.3,3.3,50,28,11.0,3.2,2.2,217.8,71.41,0.0,-8.3,-0.8,73
1,12.7,-6.3,4.5,63,27,45.0,2.9,3.6,166.2,55.16,8.5,-5.8,1.6,90
2,17.0,-2.7,6.3,72,30,110.4,3.4,5.3,179.5,48.51,10.5,-1.0,5.6,86
3,23.1,0.2,8.0,59,22,27.3,4.0,4.1,264.8,67.00,0.0,3.7,13.9,98
4,28.1,7.2,11.7,66,25,18.1,3.0,5.0,244.6,55.44,0.0,7.9,19.8,80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
325,12.7,-10.9,2.7,40,10,11.1,2.3,2.5,243.8,80.76,0.0,-5.6,0.5,40
326,21.0,-2.0,6.0,61,9,114.5,2.1,4.8,189.4,51.08,0.0,0.4,7.2,42
327,29.8,1.8,8.4,55,12,33.5,2.3,3.7,269.0,67.93,0.0,7.2,16.2,45
328,33.5,5.8,11.0,54,12,9.1,2.2,4.3,312.7,70.76,0.0,11.3,24.0,33
329,34.6,10.1,19.3,79,16,248.7,1.9,6.5,169.6,38.26,0.0,16.5,24.8,22

In [30]:
df_y = df.drop(['MAX_T','MIN_T','AVG_P','AVG_H','MIN_H','RAIN','WIND','CLOUD','SUN','SUN_R','SNOW','MIN_T_CHO','AVG_T_G','DUST'],axis=1)
df_y

     Count
0        2
1        0
2        1
3        0
4        0
..     ...
325    211
326    342
327    328
328    240
329    155

[330 rows x 1 columns]

In [31]:
scaler = StandardScaler()
df_std = scaler.fit_transform(df_1)
df_std = pd.DataFrame(df_std,columns=['MAX_T','MIN_T','AVG_P','AVG_H','MIN_H','RAIN','WIND','CLOUD','SUN','SUN_R','SNOW','MIN_T_CHO','AVG_T_G','DUST'])

In [32]:
result1 = pd.concat([df_y,df_std],axis = 1)
print(result1)

     Count     MAX_T     MIN_T     AVG_P     AVG_H     MIN_H      RAIN  \
0        2 -1.406002 -1.405032 -1.083158 -0.962421  0.668975 -0.858324
1        0 -1.381884 -0.903972 -0.924623 -0.061333  0.583076 -0.584140
2        1 -0.863349 -0.543209 -0.686822  0.562498  0.840774 -0.056738
3        0 -0.127752 -0.252595 -0.462232 -0.338591  0.153578 -0.726877
4        0  0.475196  0.448889  0.026583  0.146611  0.411277 -0.801068
..     ...       ...       ...       ...       ...       ...       ...
325    211 -1.381884 -1.364947 -1.162425 -1.655566 -0.877216 -0.857517
326    342 -0.380990 -0.473061 -0.726455 -0.199962 -0.963116 -0.023675
327    328  0.680199 -0.092256 -0.409387 -0.615849 -0.705417 -0.676878
328    240  1.126380  0.308592 -0.065896 -0.685163 -0.705417 -0.873646
329    155  1.259029  0.739503  1.030633  1.047699 -0.361819  1.058547

         WIND     CLOUD       SUN     SUN_R      SNOW  MIN_T_CHO   AVG_T_G  \
0    1.561642 -1.025226  0.828036  1.518966 -0.303955  -1.529242 -1.450363
1    0.992832 -0.383592 -0.396372  0.332448  0.478960  -1.266206 -1.209755
2    1.940849  0.395535 -0.080779 -0.153111  0.663176  -0.761178 -0.808741
3    3.078469 -0.154437  1.943291  1.196964 -0.303955  -0.266670  0.023362
4    1.182435  0.258042  1.463968  0.352893 -0.303955   0.175230  0.614857
..        ...       ...       ...       ...       ...        ...       ...
325 -0.144788 -0.887733  1.444985  2.201671 -0.303955  -1.245163 -1.320033
326 -0.523995  0.166380  0.154137  0.034541 -0.303955  -0.613878 -0.648336
327 -0.144788 -0.337761  2.042952  1.264869 -0.303955   0.101580  0.253945
328 -0.334391 -0.062775  3.079902  1.471506 -0.303955   0.532958  1.035921
329 -0.903201  0.945507 -0.315694 -0.901530 -0.303955   1.080073  1.116124

         DUST
0    0.940032
1    1.821166
2    1.613840
3    2.235816
4    1.302852
..        ...
325 -0.770402
326 -0.666740
327 -0.511246
328 -1.133222
329 -1.703367

[330 rows x 15 columns]

In [33]:
model = ols('Count ~MAX_T+MIN_T+AVG_P+AVG_H+MIN_H+RAIN+WIND+CLOUD+SUN+SUN_R+SNOW+MIN_T_CHO+AVG_T_G+DUST', result1)

In [34]:
res = model.fit()

In [35]:
res.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Count   R-squared:                       0.267
Model:                            OLS   Adj. R-squared:                  0.234
Method:                 Least Squares   F-statistic:                     8.178
Date:                Mon, 29 Aug 2022   Prob (F-statistic):           6.00e-15
Time:                        01:22:23   Log-Likelihood:                -2499.1
No. Observations:                 330   AIC:                             5028.
Df Residuals:                     315   BIC:                             5085.
Df Model:                          14
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    487.8879     26.518     18.398      0.000     435.713     540.063
MAX_T         18.2889    101.415      0.180      0.857    -181.247     217.825
MIN_T        -10.7589    152.029     -0.071      0.944    -309.879     288.362
AVG_P       -201.3842    171.019     -1.178      0.240    -537.869     135.101
AVG_H       -321.3818     84.988     -3.782      0.000    -488.597    -154.166
MIN_H       -123.7138     57.325     -2.158      0.032    -236.503     -10.925
RAIN        -117.2714     43.671     -2.685      0.008    -203.196     -31.347
WIND          46.2212     39.938      1.157      0.248     -32.358     124.800
CLOUD        -14.2851     37.740     -0.379      0.705     -88.539      59.969
SUN          341.3848    101.120      3.376      0.001     142.428     540.342
SUN_R       -567.6559    126.864     -4.475      0.000    -817.263    -318.048
SNOW          72.2043     31.489      2.293      0.023      10.249     134.159
MIN_T_CHO   1700.2887    256.487      6.629      0.000    1195.645    2204.933
AVG_T_G    -1307.6800    234.873     -5.568      0.000   -1769.799    -845.561
DUST         -64.4424     40.080     -1.608      0.109    -143.301      14.416
==============================================================================
Omnibus:                      175.066   Durbin-Watson:                   0.503
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1079.208
Skew:                           2.183   Prob(JB):                    4.50e-235
Kurtosis:                      10.709   Cond. No.                         32.8
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [36]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [37]:
model.exog_names

['Intercept',
 'MAX_T',
 'MIN_T',
 'AVG_P',
 'AVG_H',
 'MIN_H',
 'RAIN',
 'WIND',
 'CLOUD',
 'SUN',
 'SUN_R',
 'SNOW',
 'MIN_T_CHO',
 'AVG_T_G',
 'DUST']

In [38]:
pd.DataFrame({'ì»¬ëŸ¼': column, 'VIF': variance_inflation_factor(model.exog, i)} 
             for i, column in enumerate(model.exog_names)
             if column != 'Intercept')

           ì»¬ëŸ¼        VIF
0       MAX_T  14.625741
1       MIN_T  32.867702
2       AVG_P  41.591806
3       AVG_H  10.271421
4       MIN_H   4.673137
5        RAIN   2.712139
6        WIND   2.268257
7       CLOUD   2.025423
8         SUN  14.541014
9       SUN_R  22.887175
10       SNOW   1.410038
11  MIN_T_CHO  93.550687
12    AVG_T_G  78.448332
13       DUST   2.284390

In [39]:
df_new = result1.drop(['MIN_T_CHO','AVG_T_G'], axis=1)
df_new

,Count,MAX_T,MIN_T,AVG_P,AVG_H,MIN_H,RAIN,WIND,CLOUD,SUN,SUN_R,SNOW,DUST
0,2,-1.406002,-1.405032,-1.083158,-0.962421,0.668975,-0.858324,1.561642,-1.025226,0.828036,1.518966,-0.303955,0.940032
1,0,-1.381884,-0.903972,-0.924623,-0.061333,0.583076,-0.584140,0.992832,-0.383592,-0.396372,0.332448,0.478960,1.821166
2,1,-0.863349,-0.543209,-0.686822,0.562498,0.840774,-0.056738,1.940849,0.395535,-0.080779,-0.153111,0.663176,1.613840
3,0,-0.127752,-0.252595,-0.462232,-0.338591,0.153578,-0.726877,3.078469,-0.154437,1.943291,1.196964,-0.303955,2.235816
4,0,0.475196,0.448889,0.026583,0.146611,0.411277,-0.801068,1.182435,0.258042,1.463968,0.352893,-0.303955,1.302852
...,...,...,...,...,...,...,...,...,...,...,...,...,...
325,211,-1.381884,-1.364947,-1.162425,-1.655566,-0.877216,-0.857517,-0.144788,-0.887733,1.444985,2.201671,-0.303955,-0.770402
326,342,-0.380990,-0.473061,-0.726455,-0.199962,-0.963116,-0.023675,-0.523995,0.166380,0.154137,0.034541,-0.303955,-0.666740
327,328,0.680199,-0.092256,-0.409387,-0.615849,-0.705417,-0.676878,-0.144788,-0.337761,2.042952,1.264869,-0.303955,-0.511246
328,240,1.126380,0.308592,-0.065896,-0.685163,-0.705417,-0.873646,-0.334391,-0.062775,3.079902,1.471506,-0.303955,-1.133222
329,155,1.259029,0.739503,1.030633,1.047699,-0.361819,1.058547,-0.903201,0.945507,-0.315694,-0.901530,-0.303955,-1.703367

In [40]:
model = ols('Count ~MAX_T+MIN_T+AVG_P+AVG_H+MIN_H+RAIN+WIND+CLOUD+SUN+SUN_R+SNOW+DUST', result1)

In [41]:
res = model.fit()

In [42]:
res.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Count   R-squared:                       0.143
Model:                            OLS   Adj. R-squared:                  0.111
Method:                 Least Squares   F-statistic:                     4.411
Date:                Mon, 29 Aug 2022   Prob (F-statistic):           1.57e-06
Time:                        01:23:00   Log-Likelihood:                -2524.8
No. Observations:                 330   AIC:                             5076.
Df Residuals:                     317   BIC:                             5125.
Df Model:                          12
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    487.8879     28.573     17.075      0.000     431.671     544.105
MAX_T         35.5735     91.476      0.389      0.698    -144.403     215.550
MIN_T        140.4131    136.089      1.032      0.303    -127.340     408.166
AVG_P         41.6536    144.701      0.288      0.774    -243.042     326.349
AVG_H       -355.3634     90.657     -3.920      0.000    -533.730    -176.997
MIN_H       -128.9050     59.629     -2.162      0.031    -246.223     -11.587
RAIN         -74.3398     46.361     -1.604      0.110    -165.553      16.873
WIND          -6.1102     41.156     -0.148      0.882     -87.084      74.864
CLOUD         11.7352     40.423      0.290      0.772     -67.796      91.266
SUN           83.1832     91.172      0.912      0.362     -96.196     262.562
SUN_R       -374.5151    127.079     -2.947      0.003    -624.539    -124.491
SNOW          60.4757     32.654      1.852      0.065      -3.771     124.723
DUST        -129.9620     41.878     -3.103      0.002    -212.356     -47.568
==============================================================================
Omnibus:                      183.854   Durbin-Watson:                   0.357
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1081.624
Skew:                           2.351   Prob(JB):                    1.34e-235
Kurtosis:                      10.521   Cond. No.                         16.3
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [43]:
pd.DataFrame({'ì»¬ëŸ¼': column, 'VIF': variance_inflation_factor(model.exog, i)} 
             for i, column in enumerate(model.exog_names)
             if column != 'Intercept')

       ì»¬ëŸ¼        VIF
0   MAX_T  10.249332
1   MIN_T  22.684737
2   AVG_P  25.646399
3   AVG_H  10.066794
4   MIN_H   4.355089
5    RAIN   2.632583
6    WIND   2.074716
7   CLOUD   2.001433
8     SUN  10.181449
9   SUN_R  19.780163
10   SNOW   1.306083
11   DUST   2.148111

In [44]:
df_new2 = result1.drop(['MIN_T','AVG_P'], axis=1)
df_new2

,Count,MAX_T,AVG_H,MIN_H,RAIN,WIND,CLOUD,SUN,SUN_R,SNOW,MIN_T_CHO,AVG_T_G,DUST
0,2,-1.406002,-0.962421,0.668975,-0.858324,1.561642,-1.025226,0.828036,1.518966,-0.303955,-1.529242,-1.450363,0.940032
1,0,-1.381884,-0.061333,0.583076,-0.584140,0.992832,-0.383592,-0.396372,0.332448,0.478960,-1.266206,-1.209755,1.821166
2,1,-0.863349,0.562498,0.840774,-0.056738,1.940849,0.395535,-0.080779,-0.153111,0.663176,-0.761178,-0.808741,1.613840
3,0,-0.127752,-0.338591,0.153578,-0.726877,3.078469,-0.154437,1.943291,1.196964,-0.303955,-0.266670,0.023362,2.235816
4,0,0.475196,0.146611,0.411277,-0.801068,1.182435,0.258042,1.463968,0.352893,-0.303955,0.175230,0.614857,1.302852
...,...,...,...,...,...,...,...,...,...,...,...,...,...
325,211,-1.381884,-1.655566,-0.877216,-0.857517,-0.144788,-0.887733,1.444985,2.201671,-0.303955,-1.245163,-1.320033,-0.770402
326,342,-0.380990,-0.199962,-0.963116,-0.023675,-0.523995,0.166380,0.154137,0.034541,-0.303955,-0.613878,-0.648336,-0.666740
327,328,0.680199,-0.615849,-0.705417,-0.676878,-0.144788,-0.337761,2.042952,1.264869,-0.303955,0.101580,0.253945,-0.511246
328,240,1.126380,-0.685163,-0.705417,-0.873646,-0.334391,-0.062775,3.079902,1.471506,-0.303955,0.532958,1.035921,-1.133222
329,155,1.259029,1.047699,-0.361819,1.058547,-0.903201,0.945507,-0.315694,-0.901530,-0.303955,1.080073,1.116124,-1.703367

In [45]:
model = ols('Count ~MAX_T++AVG_H+MIN_H+RAIN+WIND+CLOUD+SUN_R+SNOW+DUST', result1)

In [46]:
res = model.fit()

In [47]:
res.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Count   R-squared:                       0.133
Model:                            OLS   Adj. R-squared:                  0.108
Method:                 Least Squares   F-statistic:                     5.442
Date:                Mon, 29 Aug 2022   Prob (F-statistic):           5.86e-07
Time:                        01:23:47   Log-Likelihood:                -2526.8
No. Observations:                 330   AIC:                             5074.
Df Residuals:                     320   BIC:                             5112.
Df Model:                           9
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    487.8879     28.610     17.053      0.000     431.600     544.176
MAX_T        180.6182     53.340      3.386      0.001      75.676     285.560
AVG_H       -296.4193     84.685     -3.500      0.001    -463.029    -129.810
MIN_H       -110.4622     46.483     -2.376      0.018    -201.913     -19.011
RAIN         -82.8637     45.015     -1.841      0.067    -171.426       5.698
WIND         -18.8513     39.780     -0.474      0.636     -97.114      59.412
CLOUD         25.1562     39.732      0.633      0.527     -53.014     103.326
SUN_R       -277.0966     62.031     -4.467      0.000    -399.137    -155.057
SNOW          50.9963     31.564      1.616      0.107     -11.103     113.095
DUST        -134.4758     40.150     -3.349      0.001    -213.467     -55.485
==============================================================================
Omnibus:                      183.921   Durbin-Watson:                   0.380
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1082.204
Skew:                           2.352   Prob(JB):                    1.01e-235
Kurtosis:                      10.522   Cond. No.                         7.72
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [48]:
pd.DataFrame({'ì»¬ëŸ¼': column, 'VIF': variance_inflation_factor(model.exog, i)} 
             for i, column in enumerate(model.exog_names)
             if column != 'Intercept')

      ì»¬ëŸ¼       VIF
0  MAX_T  3.475939
1  AVG_H  8.761349
2  MIN_H  2.639672
3   RAIN  2.475522
4   WIND  1.933240
5  CLOUD  1.928630
6  SUN_R  4.700847
7   SNOW  1.217146
8   DUST  1.969365